In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
overall_ratings_fp = './data/overall_ratings.csv'
per_turn_ratings_fp = './data/per_turn_ratings.csv'
criteria_ratings_user = './data/criteria_ratings/user.csv'
criteria_ratings_observer = './data/criteria_ratings/observer.csv'
criteria_ratings_self = './data/criteria_ratings/self.csv'

df_OR = pd.read_csv(overall_ratings_fp)
df_PTR = pd.read_csv(per_turn_ratings_fp)
df_CR_User= pd.read_csv(criteria_ratings_user)
df_CR_Observer = pd.read_csv(criteria_ratings_observer)
df_CR_Self = pd.read_csv(criteria_ratings_self)

In [48]:
# Overall ratings
df_OR.drop(columns=['Convsation_Id'], inplace=True)
df_OR.describe()

       User_Rating  Observer_Rating  Self_Rating
count   450.000000       450.000000   450.000000
mean      8.886667         8.603333     8.714444
std       1.077426         0.956102     0.873459
min       1.000000         1.000000     1.000000
25%       9.000000         8.500000     8.500000
50%       9.000000         9.000000     9.000000
75%       9.000000         9.000000     9.000000
max      10.000000         9.500000     9.000000

In [53]:
# Per turn ratings
df_PTR = df_PTR.apply(pd.to_numeric, errors='coerce')
df_PTR.describe()

,Turn_1,Turn_2,Turn_3,Turn_4,Turn_5,Turn_6,Turn_7,Turn_8,Turn_9,Turn_10,...,Turn_16,Turn_17,Turn_18,Turn_19,Turn_20,Turn_21,Turn_22,Turn_23,Turn_24,Turn_25
count,449.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,450.000000,...,446.000000,446.000000,445.000000,444.000000,443.000000,440.000000,438.000000,436.000000,436.000000,434.000000
mean,8.452116,8.435556,8.461111,8.495556,8.501111,8.490000,8.468889,8.467778,8.437778,8.428889,...,8.308296,8.329596,8.356180,8.314189,8.363431,8.271591,8.299087,8.216743,8.177752,8.157834
std,1.012996,0.938690,1.029162,0.911436,0.938237,0.945868,0.971262,1.000315,1.041198,1.061814,...,1.272756,1.310330,1.225476,1.151033,1.159251,1.327641,1.308588,1.377794,1.490178,1.514700
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,8.500000,8.500000,8.500000,8.500000,8.500000,8.500000,8.500000,8.500000,8.500000,8.500000,...,8.500000,8.500000,8.500000,8.500000,8.500000,8.500000,8.500000,8.500000,8.500000,8.500000
50%,8.500000,8.500000,8.500000,8.500000,9.000000,8.500000,8.500000,8.500000,8.500000,8.500000,...,8.500000,8.500000,8.500000,8.500000,8.500000,8.500000,8.500000,8.500000,8.500000,8.500000
75%,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000
max,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,...,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.000000,9.500000,9.500000

In [18]:
# Critera - User
df_CR_User.describe()

,Clarity_And_Simplicity,Relevance_And_Accuracy,Tone_And_Supportiveness,Adaptability,Consistency_And_Flow
count,450.000000,450.000000,450.000000,450.000000,450.000000
mean,8.885556,8.938889,8.911111,8.696667,8.714444
std,0.632906,0.677460,0.583638,1.014752,0.925458
min,1.000000,1.000000,1.000000,1.000000,1.000000
25%,9.000000,9.000000,9.000000,9.000000,9.000000
50%,9.000000,9.000000,9.000000,9.000000,9.000000
75%,9.000000,9.000000,9.000000,9.000000,9.000000
max,9.000000,10.000000,9.500000,9.500000,9.000000

In [11]:
print(np.percentile(df_CR_User['Adaptability'], 3))

5.469999999999999

In [19]:
# Criteria - Observer
df_CR_Observer.describe()

,Clarity_And_Simplicity,Relevance_And_Accuracy,Tone_And_Supportiveness,Adaptability,Consistency_And_Flow
count,450.000000,450.000000,450.000000,450.000000,450.00000
mean,8.798889,9.216667,8.833333,8.478889,8.44000
std,0.768317,0.993996,0.699984,1.122308,1.14279
min,1.000000,1.000000,1.000000,1.000000,1.00000
25%,9.000000,9.000000,9.000000,8.500000,8.50000
50%,9.000000,9.000000,9.000000,9.000000,9.00000
75%,9.000000,10.000000,9.000000,9.000000,9.00000
max,9.000000,10.000000,9.000000,9.000000,10.00000

In [6]:
# Criteria - Self
df_CR_Self.head()

,Clarity_And_Simplicity,Relevance_And_Accuracy,Tone_And_Supportiveness,Adaptability,Consistency_And_Flow
0,9.0,9.0,9.0,8.0,8.0
1,8.5,9.0,9.0,8.0,8.5
2,8.5,9.0,9.0,8.0,8.5
3,9.0,9.0,9.0,8.5,9.0
4,9.0,9.0,9.0,9.0,9.0